/* ==================Reset==================

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}
/*
2. Remove default margin
*/
* {
    margin: 0;
    paddding: 0
  }
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/*
    6. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
    appearance: none;
}
/*
    7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
} 

/*==================General Settings==================*/

@font-face {
    font-family: "Norse Bold";
    src: 
        url(fonts/norse-bold-webfont.woff) format(woff),
        url(fonts/norse-bold-webfont.woff2) format(woff2);
}

:root {
    --theme-color: #596D48;
    --bg-color: white;
}

/* for debugging */
* {
    /* outline: solid red 1px; */
}

body {
    max-width: 81rem;
    margin: auto;

    background-color: var(--bg-color);

    font-family: Arial, Helvetica, sans-serif;

    display: flex;
}

.left-section {
    color: var(--bg-color);
    
    width: 66rem;
    height: 110vh;
    min-width: fit-content;

    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-top: 20vh;
    height: 9rem;
    width: 100%;
    min-width: fit-content;

    background-color: rgba(0, 0, 0, 0.4);
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Norse Bold";
    font-size: 5.5rem;
}

.logo img {
    height: 85%;
}

.left-section > p {
    font-size: small;
    font-weight: lighter;
    color: lightgrey;

    padding-bottom: 0.5rem;
}

.right-section > * {
    padding: 2rem;
}

.right-section .header {
    margin-top: 5vh;
}

.right-section  h2 {
    margin-bottom: 1rem;
    max-width: 120ch;
}

.form-section {
    box-shadow: 0 3px 6px lightgray;
}

form {
    display: flex;
    gap: 4rem;

    max-width: 75%;

    font-size: small;
    font-weight: bold;

    > *{
        flex-grow: 1;
    }    
}

.form-line {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

input {
    border-radius: 4px;
    border: #E5E7EB solid 1px;
    padding: 0.25rem
}

input:invalid {
    outline: red solid 1px;
}

#password:invalid + span::after {
    content: "*Passwords do not match";
    color: red;
}

input:focus {
    outline: dodgerblue solid 1px;
    box-shadow: 0 3px 6px lightgray;
}

button {
    background-color: var(--theme-color);
    
    color: white;
    font-weight: bold;
    
    padding: 0.75rem 3rem;

    border-radius: 7px;
    border: 0;
    box-shadow: 0 3px 6px lightgray;

    &:hover {
        background-color: var(--bg-color);    
        color: var(--theme-color);    
    }
}

.bottom-section {
    p {
        margin-top: 1rem;
    } 
    
    a {
        color: var(--theme-color);
        text-decoration: none;
        font-family: "Norse Bold";
        font-size: larger;
    }    
}